EXPO_PUBLIC_ENVIRONMENT=Development
EXPO_PUBLIC_SENSWAVE__API__URL=http://10.0.2.2:8080

EXPO_PUBLIC_API_GOOGLE_CLIENT_ID=ANY_NON_EMPTY_VALUE

EXPO_PUBLIC_MINIMAL_API_VERSION=1.0.0
EXPO_PUBLIC_CONTACT_EMAIL=contact@senswave.net